<div class="navbar">
    <div class="logo"></div>
    <ul>

        <!-- <li class="logo"></li> -->


        <li> <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="home"><span><img src = "..\assets\home_icon.png "></span>Home</a> </li>

        <li> <a routerLink="browse" routerLinkActive="active" class="browse"><span><img src = "..\assets\browse_icon.png "></span>Browse</a> </li>
        <li> <a routerLink="likedsongs" routerLinkActive="active" class="likedsongs"><span><img src = "..\assets\liked_songs_icon.png "></span>Liked Songs</a> </li>


    </ul>
</div>