<div class="container">
    <div class="banner" id="#imgcontainer">
        <img src="../assets/liked_songs.jpg">
        <div class="playListInfo">
            <h1>Liked Songs</h1>
            <p>{{likedSongs.liked_tracks?.length}} Songs</p>
        </div>

    </div>
    <div class="small-container">
        <div class="filter">
            <i class="fa fa-search" style="color:#999;"></i>
            <input type="text" placeholder="Filter" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="tableWrapper" *ngIf="(likedSongs?.liked_tracks | search:searchTerm).length > 0">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>title</th>
                        <th>artist</th>
                        <th>album</th>
                        <th>release date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- | search:searchTerm -->
                    <!-- *ngIf=" likedSongs.liked_tracks[i].is_liked==1" -->
                    <tr *ngFor="let song of likedSongs?.liked_tracks | search:searchTerm; let i = index;" [class.selected]="i==selectedRow">
                        <td *ngIf="!isPlaying || i !== selectedRow">
                            <img src="../assets/play_line_icon.png" class="playBtn" (click)="togglePlaystateSong(song.track_id,i);getSongInfo(song);setClickedRow(i)" id="imgClickAndChange" />
                        </td>
                        <td *ngIf="isPlaying && i === selectedRow">
                            <img src="../assets/pause_line_icon.png" class="pauseBtn" (click)="togglePlaystateSong(song.track_id,i);getSongInfo(song);setClickedRow(i)" id="imgClickAndChange" />
                        </td>
                        <!-- <img class="playBtn" src="..\assets\play_line_icon.png"> -->
                        <td *ngIf="likedSongs.liked_tracks[i].is_liked==0">
                            <img src="..\assets\not_liked.png" id="likedImg" (click)="toggleLikedSongs(song.track_id);setLikedSong(i)" style="cursor:pointer" />
                        </td>
                        <td *ngIf="likedSongs.liked_tracks[i].is_liked==1">
                            <img src="..\assets\liked.png" id="likedImg" (click)="toggleLikedSongs(song.track_id);setLikedSong(i)" style="cursor:pointer" />
                        </td>
                        <td> {{song.name}}</td>
                        <td>{{song.artists_names}}</td>
                        <td>{{song.album_name}}</td>
                        <td>{{song.release_date | date: 'yyyy-MM-dd'}}</td>
                    </tr>



                </tbody>
            </table>



        </div>

    </div>
    <div *ngIf="(likedSongs.liked_tracks | search:searchTerm).length === 0">
        <h1 class="error">No Songs Found!</h1>
    </div>

</div>
<div class="playBar">
    <div class="songBox">
        <div class="playBarImg">
            <img src="..\assets\liked_songs.jpg" />
        </div>
        <div class="songInfo">
            <div class="songName">
                {{selectedSong?.name}}
            </div>
            <div class="artist">
                {{selectedSong?.album_name}}
            </div>
        </div>
    </div>
    <div class="playBarButtons">
        <img src="../assets/controller_icons/bar_prev.png" (click)="playPreviousSong()" />
        <img src="../assets/controller_icons/bar_play.png" id="imgClickAndChange2" (click)="changeImg2(); togglePlaystateSong(selectedSong.track_id,selectedRow)" />
        <img src="../assets/controller_icons/bar_next.png" (click)="playNextSong();" />
    </div>
    <div class="progressBar">

        <div class="timePassed">{{currentTime}}</div>

        <input type="range" id="bars" class="bar songDuration" [value]="player.currentTime" min="0" max="{{player.duration}}" />
        <div class="songDuration">{{selectedSong?.duration | date: 'mm:ss'}}</div>

    </div>
    <div class="volume">
        <img src="../assets/volume.png" (click)="toggleMuteVolume()" />
        <input class="volumeBar" id="volume1" type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)" />
    </div>
</div>