<div class="container">

    <div class="small-container">
        <h1>Genres</h1>
        <div class="row">
            <div class="genresList" *ngFor="let genre of genresList.categories">
                <a [routerLink]="['/', 'genre', genre.category_id]">
                    <div class="genreInfo">
                        <img src="{{genre.image_url}}">
                        <p>{{genre.category_name}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>