<div class="container">
    <div class="small-container">
        <!-- <div *ngIf="RecentlyPlayedList.playlists > 0">
            <div class="featuredPlaylists">
                <p>Recently Played</p>
            </div>


            <div class="playListRow">

                <div class="playListBox" *ngFor="let playLists of RecentlyPlayedList.playlists | paginate: {id:'first', itemsPerPage: 5, currentPage: p1 }">
                    <a [routerLink]="['/', 'playlist', playLists.playlist_id]">
                        <div class="playListImg">
                            <img src="{{playLists.image_url}}">
                        </div>
                    </a>
                    <div class="playListName">
                        {{playLists.name}}
                    </div>
                    <div class="playListDesc">
                        {{playLists.description}}
                    </div>
                </div>
                <pagination-controls (pageChange)="p1 = $event" id="first" previousLabel="" nextLabel=""></pagination-controls>

            </div>
        </div> -->

        <div class="featuredPlaylists">
            <p>Featured Playlists</p>
        </div>


        <div class="playListRow">

            <div class="playListBox" *ngFor="let playList of FeaturedPlayLists.playlists | paginate: {id:'first', itemsPerPage: 5, currentPage: p1 }">
                <a [routerLink]="['/', 'playlist', playList.playlist_id]">
                    <div class="playListImg">
                        <img src="{{playList.image_url}}">
                    </div>
                </a>
                <div class="playListName">
                    {{playList.name}}
                </div>
                <div class="playListDesc">
                    {{playList.description}}
                </div>
            </div>
            <div class="firstPagination">
                <pagination-controls (pageChange)="p1=$event" id="first" previousLabel=" " nextLabel=" "></pagination-controls>
            </div>
        </div>

        <div class="featuredPlaylists">
            <p>Featured Playlists</p>
        </div>


        <div class="playListRow">

            <div class="playListBox" *ngFor="let playList of FeaturedPlayLists.playlists | paginate: {id:'second', itemsPerPage: 5, currentPage: p2 }">
                <a [routerLink]="['/', 'playlist', playList.playlist_id]">
                    <div class="playListImg">
                        <img src="{{playList.image_url}}">
                    </div>
                </a>
                <div class="playListName">
                    {{playList.name}}
                </div>
                <div class="playListDesc">
                    {{playList.description}}
                </div>
            </div>
            <div class="secondPagination">
                <pagination-controls (pageChange)="p2=$event" id="second" previousLabel=" " nextLabel=" "></pagination-controls>
            </div>
        </div>



        <div class="featuredPlaylists">
            <p>Mood Playlists</p>
        </div>


        <div class="playListRow">

            <div class="playListBox" *ngFor="let playListtt of MoodPlayLists.playlists | paginate: {id:'third', itemsPerPage: 5, currentPage: p3 }">

                <a [routerLink]="['/', 'playlist', playListtt.playlist_id]">
                    <div class="playListImg">
                        <img src="{{playListtt.image_url}}">
                    </div>
                </a>
                <div class="playListName">
                    {{playListtt.name}}
                </div>
                <div class="playListDesc">
                    {{playListtt.description}}
                </div>
            </div>
            <div class="thirdPagination">
                <pagination-controls (pageChange)="p3=$event" id="third" previousLabel=" " nextLabel=" "></pagination-controls>
            </div>
        </div>
    </div>
</div>